@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    font-family: "Open Sans";
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* header */
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.header a {
    margin-right: 20px;
    color: rgba(0,0,0,0.9);
    font-size: 14px;
    text-decoration: inherit;
    cursor: pointer;
}

.header a:hover {
    text-decoration: underline;
}

.header_right{
    display:flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;
}

.main_body{
    flex: 1;
    display: flex;
    margin-top: 12%;
    flex-direction: column;
}

.main_body img{
    object-fit: contain;
    height: 100px;
}

.search_input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 25px;
    max-width: 550px;
}

.search_input input{
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
}

.search_input .material-symbols-outlined{
    color: gray;
    margin-right: 10px;
    border-radius: 999px;
}

.search_buttons{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.search_buttons button{
    margin: 5px;
    padding: 10px 15px;
    background-color: rgb(233, 233, 233);
    outline: none;
    border: 1px solid rgb(233, 233, 233);
    cursor: pointer;
    border-radius: 3px;
    color: gray;
}

.languages{
    display: flex;
    margin: 10px;
    justify-content: center;
}

.languages p{
    font-size: 14px;
    color: rgba(0,0,0,0.9);
}

.languages p a{
    text-decoration: none;
    color: blue;
    margin: 0 2px;
}

.languages p a:hover{
    text-decoration: underline;
}